Screen {
    layout: horizontal;
    align: center middle;

}

MainComm {
height: 98%;
width: 49%;
border: darkturquoise;
border_title_align: center;
}

#text_log_1{
dock: top;
height: 80%;
}

#msg{
height: 10%;
dock: bottom;
}

ChatBox {
height: 98%;
width: 49%;
border: red heavy;
border_title_align: center;
}

Header {
  height: 3;
  content-align: center middle;
  color: powderblue;
  border: powderblue;
}

Connection_box {
    dock: bottom;
    height: 25%;
    width: 99%;
    border: greenyellow heavy;
    border_title_align: center;
}



