Screen {
    layout: horizontal;
    align: center middle;
}

Header {
  dock: top;
  height: 1;
  content-align: center middle;
  background: red 75%;
  color: white;
}

Footer {
    color: white;
    background: red 75%;
}

#usernameLogin {
    align: center middle;
    height: 3;
    width: 70;
}

#passwordLogin {
    align: center middle;
    height: 3;
    width: 70;
}

#loading {
    align: center middle;
    height: 2;
    width: 67;
    color: red 75%;
}

#loginTextLog {
    align: center middle;
    height: 60%;
    width: 70;
    color: red 75%;
    border: red 75%;
}


LOGIN_SCREEN {
    content-align: center middle;
    height: 26;
    width: 80;
    align: center middle;
    color: red 75%;
    border: red 75%;
    border_title_align: center;
}


Upper {
    layout: horizontal;
    height: 65%;
    width: 100%;
}

Second {
    layout: horizontal;
    height: 35%;
    width: 99%;
}

Authorized {
    content-align: center middle;
    height: 100%;
    width: 32%;
    border: lightsalmon;
}

Waiting {
    content-align: center middle;
    height: 100%;
    width: 32%;
    border: lightsalmon;
}

#wconnLogger {
    height: 99%;
    width: 99%;
}

Connected {
    content-align: center middle;
    height: 100%;
    width: 32%;
    border: lightsalmon;
}

Wconn {
    width: 49%;
    border: red 75%;
}

Logger {
    width: 49%;
}

#dataLoger {
    width: 98%;
    height: 78%;
    border: red heavy;
}

#msgInput {
    height: 16%;
    border: red 75%;
}

RadioSet {
    height: 100%;
    width: 98%;
}

ConncetedScreen {
    color: red 50%;
    align: center top;
    text-align: center;
}

#login_container {
    height:6;
    width: 40;
    content-align: center middle;
    text-align: center;

}

#logoLabel {
    opacity: 0.0;
    height:23;
    width: 36;
    color: red 50%;
    margin: 0;

}

#loadingLogin{
    opacity: 0.0;
    height:3;
    width: 36;
    color: red 75%;
    margin: 0;
}

#textLabel {
    opacity: 0.0;
    color: white;
    width:35;
    height:30;
}
